@require "../story";

oui-preset-layout();

._form {
  font-family: var(--font) !important;

  &_section {
    margin-block: 16;
    gap: 8;
  }

  label:has(input:not([type=checkbox]):not([type=radio])), label:has(select), label:has(textarea) {
    display: block;
    font-size: 12;
    color: var(--s2-fg);

    input, select, textarea {
      margin-top: 4;
      display: block !important;
      width: 100%;
    }
  }
}

.oui {
  oui-form();
}

.oui-form {
  oui-form-all();
}
