@import "index.styl";
@import "theme.styl";

oui-fix();

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  color: var(--fg);
  background-color: var(--bg);
  padding: 0;
  margin: 32;
}

oui-preset-layout-attrs();

@import "../lib/index.styl";
