@import "index.styl";
@import "theme.styl";

body {
  font-family: var(--font);
  color: var(--fg);
  background-color: var(--bg);
}

oui-app-full();
oui-preset-layout-attrs();

@import "../lib/index.styl";