@import "index.styl";
@import "theme.styl";

oui-fix();

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--fg);
  background: var(--bg);
}

oui-layout();

.oui {
  oui-form();
}

.oui-table {
  oui-table();
}