@require "./base.styl";

left(value = base) {
  if value is a "unit" {
    left: rex(value);
  } else {
    left: value;
  }
}

top(value = base) {
  if value is a "unit" {
    top: rex(value);
  } else {
    top: value;
  }
}

bottom(value = base) {
  if value is a "unit" {
    bottom: rex(value);
  } else {
    bottom: value;
  }
}

right(value = base) {
  if value is a "unit" {
    right: rex(value);
  } else {
    right: value;
  }
}
