@require "./base.styl";

height(value) {
  height: rex(value);
}

width(value) {
  width: rex(value);
}

min-height(value) {
  min-height: rex(value);
}

min-width(value) {
  min-width: rex(value);
}

max-height(value) {
  max-height: rex(value);
}

max-width(value) {
  max-width: rex(value);
}

size(w, h = 0) {
  width: w;
  height: h || w;
}

max-size(w, h = 0) {
  max-width: w;
  max-height: h || w;
}

min-size(w, h = 0) {
  min-width: w;
  min-height: h || w;
}
