@require "./base.styl";

// https://tailwindcss.com/docs/float
clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// https://getbootstrap.com/docs/5.0/helpers/stretched-link/
stretched-link() {
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}