@require "../index";

oui-preset-layout();

._form {
  &_section {
    margin-block: 16;
    gap: 8;
  }
}

oui-form() {
  &-button {
    oui-button();

    .webkit & {
      font-weight: 500;
      color: buttontext;
      background: -gray-200;

      &:hover {
        background: -gray-300;
      }
    }

    & + &-button {
      margin-left: px(8);
    }
  }

  &-button-link {
    oui-button-default();
    border-radius: 4;
    color: var(--primary-darker-color);

    &:hover {
      color: var(--primary-color);
    }
  }

  &-input, &-textarea {
    oui-input-text();
  }

  &-textarea {
    min-height: 28; // todo
    margin-block: 0;
    padding-top: 3;
    padding-bottom: 4;
    resize: none;
  }

  &-number {
    oui-input-number();
  }

  &-input, &-textarea, &-number {
    &[readonly] {
      color: var(--secondary-color);
      cursor: unquote("not-allowed");
    }
  }

  &-checkbox {
    oui-checkbox();
  }

  &-switch {
    oui-switch();
  }

  &-radio {
    oui-radio();
  }

  &-select {
    oui-select();
  }

  &-label {
    oui-label();
  }
}

.oui {
  oui-form();
}

.oui-form {
  input[type=text], textarea {
    oui-input-text();
  }

  textarea {
    padding-y: 6;
    line-height: 1.2;
  }

  textarea._textarea_grow {
    overflow: hidden !important;
    height: 32;
    resize: none;
  }

  input[type=number] {
    oui-input-number();
  }

  button, input[type="button"], input[type="reset"], input[type="submit"] {
    oui-button();
  }

  select {
    oui-select();
  }

  /* button + button {
    margin-left: 8;
  } */
}

/*
.oui-input-join {
  input[type], button {
    border-radius: 0;

    :not(&:only-child):first-child {
      border-top-left-radius: var(--input-radius);
      border-bottom-left-radius: var(--input-radius);
    }

    :not(&:only-child):last-child {
      border-top-right-radius: var(--input-radius);
      border-bottom-right-radius: var(--input-radius);
    }
  }
} */