oui-form-default() {
  input[type=text], textarea {
    oui-input-text();
  }

  textarea {
    oui-input-textarea();
  }

  textarea._textarea_grow {
    oui-input-textarea-grow();
  }

  input[type=number] {
    oui-input-number();
  }

  button, input[type="button"], input[type="reset"], input[type="submit"] {
    oui-button();
  }

  select {
    oui-select();
  }
}