@require "../mixins/base.styl";

oui-layout() {
  if __oui_once("layout") {
    .stack-x {
      use: stack-x;
    }

    .stack-y {
      use: stack-y;
    }

    .center, .centered {
      use: stack-item-center;
    }

    .scroll, .scollable {
      use: stack-item-scroll;
      contain: content;
    }

    .space, .grow {
      flex: auto !important;
      overflow: hidden !important;
    }

    .fixed-space {
      width: 24;
    }
  }
}

oui-preset-layout() {
  if __oui_once("layout") {
    ._stack_x {
      use: stack-x;
    }

    ._stack_y {
      use: stack-y;
    }

    ._center {
      use: stack-item-center;
    }

    ._scroll {
      use: stack-item-scroll;
      contain: content;
    }

    ._space, ._grow {
      flex: auto !important;
      overflow: hidden !important;
    }
  }
}
