@require "oui-stylus";

oui-menu() {
  if __oui_once("oui-menu") {
    --menu-background: -gray-100; // ButtonFace;
    --menu-border: 1px solid -gray-400; // ButtonShadow;
    --menu-radius: px(4);
    --item-color: -gray-900; // ButtonText;
    --item-background: none;
    --item-hover-color: HighlightText;
    --item-hover-background: Highlight;
    --item-active-color: black;
    --item-active-background: white;
    --item-separator-color: -gray-300;
    use: stack-y;
    cursor: default;
    max-width: 20rem;
    min-width: 10rem;
    padding: px(4) px(4);
    background: var(--menu-background);
    border: var(--menu-border);
    border-radius: var(--menu-radius);
    box-shadow: var(--menu-shadow, -box-shadow-md);
    list-style: none;
    // z-index: -z-index-popover;
    font-family: inherit;
    font-size: 10pt;
    font-weight: 500;

    ._menu_item {
      color: var(--item-color);
      background: var(--item-background);
      list-style: none;
      border-radius: px(2);
      white-space: nowrap;
      position: relative;
      display: flex;
      padding: px(4) px(8);

      &:hover {
        color: var(--item-hover-color);
        background: var(--item-hover-background);
      }

      &._menu__active, &:active {
        color: var(--item-hover-color);
        background: var(--item-hover-background);
      }
    }

    ._menu_checked_possible, ._menu_checked {
      padding-left: 28;
    }

    ._menu_checked {
      &:before {
        position: absolute;
        left: 8;
        content: "✔︎";
      }
    }

    ._menu_separator {
      display: flex;
      height: px(1);
      max-height: px(1);
      min-height: 1px;
      border: none;
      padding: 0;
      margin-top: px(4);
      margin-bottom: px(4);
      background: var(--item-separator-color);
    }
  }
}