control-inner = var(--control-inner, white);
control-color = unquote("var(--control-color, rgba(var(--primary-color-value), 1))");
control-hover = unquote("var(--control-hover, rgba(var(--primary-color-value), 0.1))");
control-active = unquote("var(--control-active, rgba(var(--primary-color-value), 0.8))");
control-radius = var(--control-radius, -border-radius-base);
control-border = var(--control-border, none);
input-color = var(--input-color, black);
input-background = var(--input-background, white);
input-border = var(--input-border, 1px solid -gray-300);
input-border-hover = var(--input-border-hover, 1px solid -gray-400);
input-radius = var(--input-radius, -border-radius-base);

/* Inspirational source https://open-props.style/ */