@require "oui-stylus";
@require "../lib/style.styl";

tw-reset();

.prose {
  use: tw-prose;
}

button {
  background: blue;
  color: white;
}

@require "../lib/style.styl";

.my-float {
  background: red;
  padding: 6;
  border-radius: 4;
}