@require "../../stylus/index.styl";

.oui-modal-demo {
  ._mobile {
    @media -media-desktop {
      display: none;
    }
  }

  ._desktop {
    @media -media-mobile {
      display: none;
    }
  }
}