@require "../../stylus/index.styl";

.oui-modal {
  --modal-separator: transparent;
  --modal-bg: var(--dialog-bg, var(--s2-bg));
  --modal-speed: 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  will-change: transform;
  z-index: -z-index-overlay;
  background: var(--dialog-backdrop, rgba(0, 0, 0, 0.16));
  cursor: default;
  opacity: 1;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);

  // clip-path: rect(0 0 100% 100%);

  // Background overlay
  ._modal_overlay {
    display: flex;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  ._modal_container {
    z-index: -z-index-modal;
    will-change: transform;
    opacity: 1;
    overflow: hidden;
    use: stack-y;
    position: relative;
    box-shadow: lg;
    background: var(--modal-bg, -gray-50);
    border: 1px solid var(--modal-separator, -gray-200);
    border-radius: var(--dialog-radius, 8px);
    max-height: 75vh;

    @media -media-mobile {
      :has(._modal_sheet) & {
        border: inherit;
        border-radius: inherit;
        position: absolute;
        top: 0;
        bottom: 0;
        max-height: inherit;
        width: 100%;
        margin-top: 44;
        border-top-left-radius: var(--dialog-radius, 8px);
        border-top-right-radius: var(--dialog-radius, 8px);
        padding-bottom: -safe-bottom;

        .virtual-keyboard & {
          padding-bottom: 0;

          ._modal_footer {
            transition: border 400ms;
            --modal-separator: var(--t3-bg);
          }
        }
      }
    }
  }

  ._modal_header {
    use: stack-y;
    border-bottom: 1px solid var(--modal-separator, -gray-200);
    padding: 16;
    padding-right: 40;
    font-weight: 600;
  }

  ._modal_close {
    position: absolute;
    top: 2;
    right: 2;
    background: transparent;
    border-radius: var(--dialog-radius, 8px);
    // z-index: 99999;
    font-size: 16;
    cursor: unquote("pointer");
    color: inherit;
    padding: 12;
    border: none;
    appearance: none;

    &:hover {
      color: var(--primary-color);
    }
  }

  ._modal_footer {
    border-top: 1px solid var(--modal-separator, -gray-200);
    text-align: right;
    // white-space: nowrap;
    padding: 16;
  }

  ._modal_body {
    use: stack-item-grow;
    use: stack-item-scroll;
    margin: 0;
    min-height: 32;
    padding-y: 16;
    padding-x: 16;
    position: relative;
    display: block;
  }

  ._modal_header + ._modal_body {
    padding-top: 0;
  }

  &._modal_has_footer ._modal_body {
    // todo: 4px to allow focus ring to show up correctly
    padding-bottom: 4;
  }

  ._modal_container {
    width: Min(52ch, 90vw);
  }

  &._modal_size_small ._modal_container {
    width: Min(36ch, 90vw);
  }

  &._modal_size_large ._modal_container {
    width: Min(128, 90vw);
  }

  &-transition {
    &-enter-active, &-leave-active {
      transition-property: opacity, padding-bottom, transform, -webkit-backdrop-filter, backdrop-filter;
      transition-duration: var(--modal-speed);
      transition-timing-function: ease;

      ._modal_container {
        transition-property: opacity, padding-bottom, transform, -webkit-backdrop-filter, backdrop-filter;
        transition-duration: var(--modal-speed);
        transition-timing-function: ease;
        transform: translate3d(0, 0, 0);
      }
    }

    &-enter-from, &-leave-to {
      opacity: 0;
      -webkit-backdrop-filter: blur(0);
      backdrop-filter: blur(0);

      ._modal_container {
        transform: translate3d(0, 50%, 0);
        opacity: 0;
      }
    }
  }
}

.oui-dialog {
  input {
    width: 100%;
  }
}