@require "../stylus/default-app.styl";

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

.oui-demo {
  position: relative;
  padding: 16px;
  min-height: 600px;
}

.oui-form {
  oui-form-defaults();
}
