@require "../stylus/default-app.styl";

.default {
  color: var(--fg);
  background-color: var(--bg);
  padding: 8;
}

.oui-form {
  oui-form-defaults();
}

.oui-demo {
  height: 100%;
  use: stack-y;

  &-header {
    use: stack-x;
    padding: 16;
    background: var(--t3-bg);
    border-bottom: 1px solid var(--t3-fg);
    gap: 8;

    ._middle {
      use: center;
    }
  }

  &-body {
    use: stack-x;
    use: grow;
  }

  &-sidebar {
    use: stack-y;
    background: var(--s2-bg);
  }

  &-props {
    use: stack-y;
    use: grow;
    gap: 8;

    label {
      display: block;
    }
  }

  &-state, &-props {
    use: scroll;
    padding: 16;
  }

  &-sandbox {
    use: grow;

    &:not(._sidebyside) {
      use: scroll;
      padding: 16;
    }

    &._sidebyside {
      use: stack-x;
      padding: 0;

      > div {
        use: grow;
        use: scroll;
        padding: 16;
        min-height: 100%;
      }
    }
  }
}
