@require "../stylus/index";
@require "../stylus/preset/utopia";

._utopia_space {
  ._font--2 {
    font-size-step: -2;
  }

  ._font--1 {
    font-size-step: -1;
  }

  ._font-0 {
    font-size-step: 0;
  }

  ._font-1 {
    font-size-step: 1;
  }

  ._font-2 {
    font-size-step: 2;
  }

  ._font-3 {
    font-size-step: 3;
  }

  ._font-4 {
    font-size-step: 4;
  }

  ._font-5 {
    font-size-step: 5;
  }
}