@require "../stylus/default-page.styl";

.app-demo {
  border-bottom: 2px solid #ccc;
  margin-bottom: 16;
  padding-bottom: 16;
}

.default {
  color: var(--fg);
  background-color: var(--bg);
  padding: 8;
}

.oui-form {
  oui-form-defaults();
}
