@require "../stylus/index.styl";

.sandbox {
  use: stack-y;

  &-object {
    position: fixed;
    padding: 16;
    background: -green-200;
    transition: all 2500ms ease-in-out;
    left: 80%;
    top: 100;
    opacity: 1;
    color: black;

    b {
      transition: all 2500ms ease-in-out;
    }
  }

  &-animation {
    &-enter-from, &-leave-to {
      left: 0;
      opacity: 0;

      b {
        color: white;
      }
    }
  }
}