@import "../stylus/index";

.oui-login-create {
  use: stack-y;
  gap: 8;
  padding: 16px;

  &-username, &-password, &-confirm {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-error {
  }

  &-button {
    display: flex;
    justify-content: center;
  }
}