@require "../../stylus/index.styl";

.oui-input-color {
  use: center;
  margin-left: 6;
  margin-y: auto;
  position: relative;

  [type=color] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &::after {
    content: "";
    display: block;
    width: 40;
    height: 20; /* border: 1px solid var(--input-border); */
    border-radius: 4;
    background: var(--color-value, #ffffff);
    pointer-events: none;
  }
}