@require "../../stylus/index.styl";

.oui-slider {
  position: relative;

  ._slider {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 250ms ease-out, width 250ms ease-out, height 250ms ease-out;
    pointer-events: none;
    z-index: 1;

    &._no-animate {
      transition: none;
    }

    &._hidden {
      display: none;
    }
  }
}