@require "../../stylus/index.styl";

.oui-log {
  border: 1px solid var(--s2-fg);
  border-radius: 4;
  font-family: "Jetbrains Mono", monospace;
  font-size: 12;
  line-height: 1.2;

  ._active {
    background: var(--p1-200) !important;
  }
}