@require "../../stylus/index.styl";

.oui {
  oui-form();
}

.oui-input-group {
  use: stack-x;

  button, input {
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
    }

    &:focus {
      z-index: 1;
    }
  }
}

.oui-form-item {
  margin-y: 12;

  label {
    display: block;
    font-size: 13;
    font-weight: 500;
    margin-bottom: 6;

    span {
      color: -red-600;
    }
  }
}