@require "../../stylus/index.styl";

.oui-input-group {
  use: stack-x;

  button, input {
    &:not(:last-child) {
      margin-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: none;
    }

    &:focus {
      z-index: 1;
    }
  }
}
