@require "../../stylus/index.styl";

.oui-notice {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  use: center;
  text-align: center;
  color: var(--s2-fg);

  &-body {
    use: stack-y;
    gap: 16;
    max-width: unquote("min(40ch, 80%)");
  }

  svg {
    size: 1em;
  }

  &-title {
    font-size: 32;
    font-weight: 500;
  }

  &-icon svg {
    size: 64;
  }

  &-message {
    white-space: pre-line;
  }
}