@require "../../stylus/index.styl";

.oui-file {
  oui-input-default();
  color: var(--fg);
  border-style: dashed;
  cursor: pointer;
  width: 100%;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  font-size: 16;
  padding-y: 6;

  > * {
    display: inline-flex;
    flex: none;
  }

  // icon
  svg, img {
    size: 1em;
  }

  ._content {
    stack-x(8);
  }

  &:hover, &._over {
    color: var(--p1-fg);
    border-color: var(--input-border-hover);
  }

  &._disabled {
    color: var(--s2-fg);
    cursor: not-allowed;
  }
}