@require "../../stylus/index.styl";

.oui {
  oui-form();

  &-input-container {
    use: stack-x;
    padding-x: 0;

    input {
      use: stack-item-grow;
      width: auto;
      padding-x: 8;
    }

    button {
      cursor: pointer;
      padding-x: 8;
    }

    svg {
      display: flex;
      flex-shrink: 0;
      flex-grow: 0;
      size: 1em;
    }
  }
}
