@require "../../stylus/index.styl";

.oui-resizeable {
  position: relative;
  box-sizing: border-box;

  .oui-resizeable-separator {
    box-sizing: border-box;

    &._left {
      left: var(--resizeable-border-size, 0);
    }

    &._right {
      right: var(--resizeable-border-size, 0);
    }

    &._top {
      top: var(--resizeable-border-size, 0);
    }

    &._bottom {
      bottom: var(--resizeable-border-size, 0);
    }
  }
}

/*
.app-separator {
  background: var(--separator-color);
  width: 1px;
  height: inherit;

  &.app-separator-vertical {
    height: 1px;
    width: inherit;
  }

  &.active {
    background: var(--separator-active-color) !important;
  }

  &-resizable {
    position: relative;
    cursor: unquote("col-resize");
    overflow: visible;

    &:after {
      display: flex;
      position: absolute;
      opacity: 0.5;
      top: 0;
      left: -($sepHandleSize * 0.5);
      width: $sepHandleSize + px(1);
      height: 100%;
      cursor: unquote("col-resize");
      z-index: -z-index-floating;
      content: " ";
    }

    &.app-separator-vertical {
      cursor: unquote("row-resize");

      &:after {
        left: 0;
        top: -($sepHandleSize * 0.5);
        width: 100%;
        height: $sepHandleSize + px(1);
        cursor: unquote("row-resize");
      }
    }

    &:hover {
      background: var(--separator-focus-color);
    }

    // &:hover:after {
    // background: var(--separator-focus-color);
    // }
    &.invisible {
      width: 0;
      min-width: 0;

      &:after {
        width: $sepHandleSize;
      }
    }
  }
}
*/