@require "../../stylus/index.styl";

.oui-file {
  border: 1px dashed var(--s2-fg);
  border-radius: 4;
  padding: 8;
  height: 64;
  cursor: pointer;
  use: center;

  &:hover {
    background: var(--t3-bg);
  }
}