@require "../../stylus/index.styl";

.oui-login {
  use: stack-y;
  gap: 8;
  padding: 16px;

  .oui-notice {
    margin-bottom: 16px;
  }

  .oui-input {
    width: 100%;
  }

  .oui-password {
    width: 100%;
  }

  .oui-button {
    width: 100%;
  }
}